@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{

}

body{
    height: 200vh;
    background: #323031;
    position: relative;
}
/* start styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap');

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li, ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #333;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #eee;
}

header .logo{
    margin-left: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
nav {
  background: #222;
  z-index: 0;
  top: 0;
  padding: 20px;
  padding-top: 80px;
  height: 100%;
  box-sizing: border-box;
  width: 200px;
  left: -200px;
  position: absolute;
}
nav a {
  color: #fff;
  display: block;
  margin-bottom: 6px;
  font-size: 1.2em;
}
.burger {
  z-index: 1;
  display: relative;
  font-size: 1.2em;
  cursor: pointer;
}
.burger span {
  display: block;
  width: 30px;
  height: 2px;
  background: #eee;
  margin-bottom: 5px;
}

/* open state */

nav.open {
  left: 0;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

/* transitions */
nav {
  transition: left ease-in 0.3s;
}
.burger span {
  transition: all ease-in 0.3s;
}

.search-foods{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-foods .search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 600;
    text-shadow: 8px 4px 0px #071013;
    pointer-events: none;
}

.search-container input{
    border: none;
    outline: none;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    padding: 5px 30px;
    color: #ffb700;
    background: #4c4a4b;
    letter-spacing: 1px;
    box-shadow: 0px 1px 0px #ffb700;
}

.search-container input::placeholder{
    letter-spacing: 5px;
    color: #ffb700;
    padding-left: 15px;
}

.search-container button{
    background: #4c4a4b;
    height: 3em;
    width: 8em;
    border-radius: 5px;
    border: none;
    color: #ffb700;
    cursor: pointer;
}

.search-container button:hover{
    background: #5f5d5e;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.login-container .login-btn,
.login-container .user{
    padding: 0px 10px;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 50px;
    letter-spacing: 1px;
}

.login-container .login-btn:hover,
.login-container .user:hover{
    color: #fff;
    background: #686868;
    border: 2px solid #ffb700;
}

.login-container .user{
    color: #fff;
    padding: 2px 10px;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1200px) {
    .search-container h2{
        font-size: 4em;
    }

    .search-container input{
        width: 30em;
    }
}

@media (max-width:1000px) {
    .search-container h2{
        font-size: 2em;
    }

    header .logo{
        font-size: 30px;
    }

    .header.sticky{
        padding: 10px 60px;
    }

    .search-container input{
        width: 20em;
        height: 30px;
        padding: 5px 20px;
    }

    .search-container button{
        height: 30px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .navigation{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-top: 80px;
        background: #4c4a4b;
        height: 0px;
    }

    header .navigation.active{
        height: 100%;
    }

    header .navigation li a{
        text-align: left;
    }

    header .bars{
        opacity: 1;
        width: 50px;
        display: flex;
        height: 50px;
        top: 0;
        right: 0;
        margin: 5px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .bars a{
        font-size: 30px;
        color: #fff;
    }
}

@media (max-width: 450px) {
    .search-container h2{
        font-size: 1.5em;
        text-shadow: 2px 2px 0px #000;
    }

    .bars .bar{
        font-size: 20px;
    }

    .search-container input{
        width: 200px;
        height: 25px;
        padding: 5px;
    }

    .search-container input::placeholder{
        font-size: 10px;
        letter-spacing: 1px;
    }

    .search-container button{
        width: 60px;
        height: 25px;
    }
}